.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  padding: 30px 88px;
  @include pad {
    padding: 30px 39px;
  }
  @include mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .logo a {
    display: block;
    width: 80px;
    height: 48px;
    background: url(../images/logo.png) no-repeat;
    @include hide-text;
    @include mobile {
      width: 48px;
      height: 29px;
      background-size: cover;
    }
  }
  .logo {
    @include mobile {
      padding: 10px 0;
    }
  }
  .menu {
    @include mobile {
      flex-wrap: wrap;
      width: 100%;
    }
  }
  .menu li {
    @include mobile {
      border: 1px solid #fff;
      width: 50%;
    }
  }
  li a {
    font-size: 20px;
    padding: 9px 32px;
    display: block;
    text-align: center;
    @include pad {
      padding: 9px 10px;
    }
  }
  li a:hover {
    color: silver;
  }
}
